version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: Ziad-AI_backend
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5000:5000"